<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="icon" type="image/jpeg" href="1.jpeg">
  <title>unclick+</title>

  <style>
    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      min-height: 100vh;
      background: #f10101;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Tahoma";
      font-style: normal;
      color: #ffffff;
      cursor: pointer;
      padding: 20px;
    }

    .container {
      text-align: center;
      width: 100%;
      max-width: 500px;
      padding: 24px;
      border-radius: 20px;
      backdrop-filter: blur(10px);
    }

    img {
      width: 100%;
      max-height: 300px;
      object-fit: cover;
      border-radius: 16px;
      margin-bottom: 18px;
    }

    h1 {
      font-size: 1.4rem;
      line-height: 1.4;
      margin: 0;
    }

    p {
      margin-top: 10px;
      opacity: 0.6;
      font-size: 0.8rem;
    }
  </style>
</head>

<body onclick="changeVibe()">
  <div class="container">
  <img id="vibeImage" src="1.jpeg" alt="vibe image" />
  <h1 id="phrase">FELIZ SEGUNDO MES DAVID :D</h1>
</div>


<script>
  const phrases = [
    "'Perdón por besarte con los ojos abiertos\n\n Estoy rompiendo las reglas\n Quiero verte los labios entre beso y beso\n Ver de cerca tus poros imaginar que puedo entrar en ellos\n No es propiedad sino unión'\n-Alberto Villareral";
    "Te amo";
    "No tengo nada y todo es tuyo si tan solo me lo pides";
    "´Te regalo mis páginas en blanco,\nmi sol,mi luna,\n miplaya..´";
    "Te quiero con la eternidad que concede la brevedad de un momento inolvidable.";
    "Te escribiría un libro sobre todo el amor que te tengo,\n pero los libros tienen fin\n Y mi amor por ti no";
    "Fait avec amour";
  ];

  const images = [
    "1.jpeg";
    "2.jpeg";
    "3.jpeg";
    "8.jpeg";
    "5.jpeg";
    "6.jpeg";
    "7.jpeg";
    "9.jpeg";

  ];

  const phraseEl = document.getElementById("phrase");
  const imageEl = document.getElementById("vibeImage");

  // ESTADO INICIAL ESTÁ MOSTRANDO EL TEXTO
  let showing = "text";
  imageEl.style.display = "none";

  function changeVibe() {
    if (showing === "text") {
      // ocultar el texto
      phraseEl.style.display = "none";

      // mostrar imagen
      imageEl.src = images[Math.floor(Math.random() * images.length)];
      imageEl.style.display = "block";

      showing = "image";
    } else {
      // ocultar imagen
      imageEl.style.display = "none";

      // mostrar texto
      phraseEl.textContent =
        phrases[Math.floor(Math.random() * phrases.length)];
      phraseEl.style.display = "block";

      showing = "text";
    }
  }
</script>

</body>
</html>
